apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-application
  namespace: {{ .Values.global.namespace }}
data:
  application.yaml: |
    server:
      port: 8080

    spring:
      cloud:
        gateway:
          server:
            webflux:
              routes:
                - id: user-service
                  uri: http://user-service:8083
                  predicates:
                    - Path=/api/users/**,/api/cards/**
                - id: order-service
                  uri: http://order-service:8085
                  predicates:
                    - Path=/api/orders/**
                - id: auth-service
                  uri: http://authentication-service:8084
                  predicates:
                    - Path=/api/auth/**
                - id: payment-service
                  uri: http://payment-service:8086
                  predicates:
                    - Path=/api/v1/payments/**

    management:
      endpoints:
        web:
          exposure:
            include: health,info
      endpoint:
        health:
          probes:
            enabled: true