apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: authentication-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentication-service
  template:
    metadata:
      labels:
        app: authentication-service
    spec:
      containers:
        - name: app
          image: "{{ .Values.images.authenticationService.repository }}:{{ .Values.images.authenticationService.tag }}"
          imagePullPolicy: {{ .Values.images.authenticationService.pullPolicy }}
          ports:
            - containerPort: 8084
          envFrom:
            - configMapRef:
                name: authentication-service-config
          env:
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: authentication-service-db-secrets
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: authentication-service-db-secrets
                  key: password
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET

          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8084
            failureThreshold: 10
            periodSeconds: 5

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8084
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8084
            initialDelaySeconds: 60
            periodSeconds: 15
            failureThreshold: 3